/** Custom fonts **/
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans.ttf"),
    url("OpenSans.eot");
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("OpenSansBold.ttf");
  font-weight: bold;
}

body {
  font-family: "Open Sans", "Lucida Grande","Lucida Sans",Verdana,Arial;
  font-size: 13px;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid gray;
}

form.controls {
  background-color: #F9F9F9;
  border: 1px solid #808080;
  padding: 1em;
  margin: 1em auto;
}

a {
  color: #1188DD;
}

a:active {
  color: #0066BB;
}

img {
  border: none;
}

.pass {
  color: #7AE309;
  font-weight: bold;
}

.fail {
  color: #E30909;
  font-weight: bold
}

div.centre {
  text-align: center;
  margin: auto;
}

.bold {
  font-weight: bold;
}

/*
table {
  border: none;
}

table.centre {
  margin: auto;
  text-align: center;
}

table.status, table.status tr, table.status td {
    padding: 0.2em 0.75em;
}


td {
  padding: 0 0.5em;
}

th {
  padding: inherit;
  border-bottom: 1px solid gray;
}

*/

table {
  border-radius: 3px;
  border: 1px solid #ccc;
  border-collapse: collapse;
  word-wrap: break-word;
  line-height: 1.3em;
  width: 100%;
}

td {
  padding: 0.2em 0.5em;
}

table.centre {
  margin: auto;
  text-align: center;
}

table.horizontal {
  line-height: 1.6em;
}

table.horizontal th {
  border-right: 1px solid #ccc;
  border-bottom: 0;
  width: 20%;
}

img.centre {
  display: block;
  margin: auto;
}

input[type="button"], input[type="submit"] {
  background-color: #F5F5F5;
  border: 1px solid #A2A2A2;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #BBBBBB;
  transition: all 0.13s ease 0s;
  padding: 0 0.5em;
  min-width: 55px;
  margin: 0.4em 0.1em;
}

input[type="button"]:active, input[type="submit"]:active {
  background-color: #E8E8E8;
}


input[type="text"], input[type="password"] {
  width: 100%; /* IE8 width bugfix */
  border-radius: 3px;
  border: 1px solid #CCCCCC;
  font-size: 16px;
}

input[type="text"]:focus, input[type="password"]:focus {
  box-shadow: 0 0 2px #BBBBBB;
}

#header-wrap {
  background-color: #2a2a2a;
  border-top: 0.3em solid #1188DD;
  color: #f2f2f2;
  margin-bottom: 1em;
  box-shadow: 0 0 0.5em #444444;
  transition: all 0.2s ease 0s;
}

#header {
  padding: 1.5em 2em;
  /*max-width: 1920px;*/
  margin: 0 auto;
}

#header input[type="button"], #header input[type="submit"] {
  background-color: #808080;
  border: 1px solid #808080;
  box-shadow: none;
  color: #f2f2f2;
  cursor: pointer;
}

#header input[type="button"]:hover, #header input[type="submit"]:hover {
  background-color: #606060;
  border: 1px solid #606060;
}

#header #leftnav {
  float: left;
  display: table;
}

#header #leftnav > div, #header #leftnav > span {
  display: table-cell;
  vertical-align: middle;
  padding-left: 1em;  
}

#header #leftnav a {
  color: #2a2a2a;
}

#title {
  font-size: 30px;
}

#header #rightnav {
  float: right;
  font-size: 15px;
  padding-top: 0.5em;
  text-align: right;
}

#header #rightnav span {
  margin-left: 1em;
}

#header #menu-container {
  margin-right: 1.5em;
  font-size: 15px;
  display: inline-block;
}

#header #logout-container {
  /* Hide until activated by JavaScript */
  display: none;
}

#header #date {
  font-size: 12px;
}

#content-wrap {
  padding: 1em 2em;
  /*max-width: 1920px;*/
  margin: 1em auto;
}

#content  {
 
  /*display: none;  Enable in non-debug mode*/
}

#sidebar{
  float: left;
  width: 240px;
  transition: all 0.2s ease 0s;
}

#sidebar .title {
  font-size: 20px;
}

#sidebar-hide {
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  cursor: pointer;
  float: right;
  height: 20px;
  margin-right: -1.25em;
  margin-top: -1em;
  text-align: center;
  width: 20px;
}

#sidebar-show {
  float: left;
  cursor: pointer;
  display: none;
}

.justify {
  text-align: justify;
}

#main {
  overflow: auto;
  padding-left: 2em;
  min-width: 400px;
}

#main .sub-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.25em;
}

/* Unused ?? */
.sxs {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-spacing: 0.5em;
}

.sxs div {
  display: table-cell;
}

.right {
  float: right;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.graph {
  width: 100%;
  height: 200px;
}

.widget {
  background-color: #ffffff;
  margin: 0.25em 0.25em 1.5em;
  padding: 1em 1.25em;
  box-shadow: 0 0 3px #CCCCCC;
  border: 1px solid #CCCCCC;
  transition: all 0.2s ease 0s;
  overflow: auto;
}

.widget:hover {
  box-shadow: 0 0 0.25em #AAAAAA;
}

.plot {
	box-sizing: border-box;
	width: auto;
	height: 300px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	font-size:20px;
}

/** Hack **/
.clear {
  clear: both;
}

#errorlog {
  overflow: auto;
  max-width: 100%;
  width: 100%;
  height: 6em;
  background-color: white;
  border: 1px solid #ccc;
}

/** For login.html **/
#login-container {
  margin: 0 auto;
  width: 400px;
  padding: 1.8em 0 0;
  color: #606060;
  line-height: 1.8em;
}

#login-container form {
  padding: 1em 2em;
}

#login-container input {
  font-size: 24px;
}

#login-container label {
  font-size: 14px;
}

#login-container input[type=submit] {
  font-size: inherit;
  padding: 0.4em 0.8em;
}

#login-container #result {
  clear: both;
}
